.avisol {
  width: 50%;
  margin: 0 auto 50px;
  background-color: var(--novenary-color);
  padding: 20px;
  box-shadow: 0.25em 0.25em 1em var(--senary-color);
  -webkit-box-shadow: 0.25em 0.25em 1em var(--senary-color);
  -moz-box-shadow: 0.25em 0.25em 1em var(--senary-color);
}

p.avisol {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: left;
  line-height: normal;
  width: 90%;
  margin: 0;
  box-shadow: none !important;
  padding: 15px 0 0 10px;
}
li.privacidade {
  font-size: 1.2rem;
  text-align: left;
  padding: 0;
}

summary {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 20px;
}

summary::marker {
  color: var(--quinary-color);
}

#portadaavisol {
  background-color: var(--quinary-color);
  background-image: url(/images/portadaavisol.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: top;
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  border: none;
  height: 200px;
  overflow: hidden;
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -webkit-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -moz-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
}

.react-slideshow-fadezoom-images-wrap img {
  width: 100%;
}
