:root {
  --primary-color: rgb(226, 223, 209);
  --secondary-color: black;
  --terciary-color: white;
  --cuaternary-color: #a3c625;
  --quinary-color: #f8f4eb;
  --senary-color: #696762;
  --septenary-color: #b4b0a6;
  --octonary-color: rgb(37, 37, 34);
  --nonary-color: #7a9225;
}

#portadadesenho {
  background-image: url(/images/desenho/portadadesenho2.webp);
  background-repeat: no-repeat;
  height: 150px;
  margin: 0;
  background-size: cover;
  background-position: top;
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -webkit-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -moz-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
}

.desenho-section {
  margin: 130px auto;
}

.desenho-section1 h2,
.desenho-section2 h2 {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 40px;
  margin-top: 0;
  height: 70px;
  text-align: center;
  background-color: var(--terciary-color);
  box-shadow: 0.35em 0.35em 1em rgb(105, 103, 98);
}

.txtcuriosidades {
  font-size: 1.2rem;
  font-style: oblique;
  color: var(--senary-color);
}
.servicesdes {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-content: center;
  border-radius: 50%;
}

.servizosimgsdes {
  border-radius: 50%;
  width: auto;
  height: 260px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  box-shadow: 0.35em 0.35em 1em rgb(105, 103, 98);
}

.creatividadedes {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: flex;
  flex-flow: column, wrap;
}
img {
  overflow: hidden;
}

.slide-container {
  background-color: var(--quinary-color);
  box-shadow: 0.35em 0.35em 1em rgb(105, 103, 98);
}

.slide-container .desktop {
  display: none;
}

.slide-container .tablet {
  display: none;
}

.slide-container .mobile {
  display: none;
}

.indicator {
  padding: 20px;
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.indicator:hover {
  color: var(--nonary-color);
}

.txtdes {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.destinatarios {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.react-slideshow-fadezoom-images-wrap img {
  width: 100%;
}

@media (min-width: 320px) {
  .slide-container .desktop {
    display: none;
  }

  .slide-container .tablet {
    display: none;
  }

  .slide-container .mobile {
    display: block;
  }
}

@media (min-width: 720px) {
  .slide-container .desktop {
    display: none;
  }

  .slide-container .tablet {
    display: block;
  }

  .slide-container .mobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .slide-container .desktop {
    display: block;
  }

  .slide-container .tablet {
    display: none;
  }

  .slide-container .mobile {
    display: none;
  }
}
