.etica {
  width: 50%;
  margin: 0 auto 50px;
  background-color: var(--novenary-color);
  box-shadow: 0.25em 0.25em 1em var(--senary-color);
  padding: 20px;
}
.metodos-section {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--novenary-color);
  box-shadow: 0.25em 0.25em 1em var(--senary-color);
}
.ul.opcions-orzamento {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.li.liopcions {
  font-size: 1.2rem;
  text-align: left;
  display: inline-flex;
}

h3.orzamento {
  color: var(--secondary-color);
  font-size: 1.26rem;
}
p.metodos {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: left;
  line-height: normal;
  padding: 0;
}

summary {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 20px;
}

summary::marker {
  color: var(--quinary-color);
}

#portadafaq {
  background-color: var(--quinary-color);
  background-image: url(/images/portadametodos.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  background-position: top;
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  border: none;
  height: 200px;
  overflow: hidden;
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -webkit-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -moz-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
}
