:root {
  --primary-color: rgb(226, 223, 209);
  --secondary-color: black;
  --terciary-color: white;
  --cuaternary-color: #a3c625;
  --quinary-color: #f8f4eb;
  --senary-color: #696762;
  --septenary-color: #b4b0a6;
  --octonary-color: rgb(37, 37, 34);
  --nonary-color: #7a9225;
}

#portadailustracion {
  background-image: url(/images/ilustracion/portadailustracion.webp);
  background-repeat: no-repeat;
  height: 120px;
  margin: 0;
  background-size: cover;
  background-position: top;
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -webkit-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -moz-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
}

.ilustracion-section {
  margin: 130px auto;
}

.ilustracion-section1 h2,
.ilustracion-section2 h2 {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 40px;
  margin-top: 0;
  height: 70px;
  text-align: center;
  background-color: var(--terciary-color);
  box-shadow: 0.35em 0.35em 1em rgb(105, 103, 98);
}

img {
  overflow: hidden;
}

.slide-container {
  background-color: var(--quinary-color);
  box-shadow: 0.35em 0.35em 1em rgb(105, 103, 98);
}

.slide-container .desktop {
  display: none;
}

.slide-container .tablet {
  display: none;
}

.slide-container .mobile {
  display: none;
}

ul.indicators {
  padding: 0px;
}

.indicator {
  padding: 20px;
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.indicator:hover {
  color: var(--nonary-color);
}

.txtilust {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
}

.destinatarios {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.react-slideshow-fadezoom-images-wrap img {
  width: 100%;
}

@media (min-width: 320px) {
  .slide-container .desktop {
    display: none;
  }

  .slide-container .tablet {
    display: none;
  }

  .slide-container .mobile {
    display: block;
  }
}

@media (min-width: 720px) {
  .slide-container .desktop {
    display: none;
  }

  .slide-container .tablet {
    display: block;
  }

  .slide-container .mobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .slide-container .desktop {
    display: block;
  }

  .slide-container .tablet {
    display: none;
  }

  .slide-container .mobile {
    display: none;
  }
}
