:root {
  --primary-color: rgb(226, 223, 209);
  --secondary-color: black;
  --terciary-color: white;
  --cuaternary-color: #a3c625;
  --quinary-color: #f8f4eb;
  --senary-color: #696762;
  --septenary-color: #b4b0a6;
  --octonary-color: rgb(37, 37, 34);
  --nonary-color: rgb(150, 144, 126);
}

@import url(https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap);

html {
  font-family: "Quattrocento Sans", sans-serif;
  color: var(--secondary-color);
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: block;
}

h1 {
  font-size: 2em;
  font-weight: 800;
  color: var(--senary-color);
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2em;
  font-weight: 500;
  padding-left: 40px;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  color: rgb(92, 88, 76);
  text-align: left;
}

h4 {
  font-size: 1.1em;
  font-weight: 800;
  padding-left: 40px;
  color: var(--nonary-color);
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

li {
  font-size: 1.4em;
  font-weight: 100;
  text-transform: none;
  text-align: left;
  line-height: 120%;
}

li a {
  color: var(--terciary-color);
}

li a.active {
  color: var(--septenary-color);
}

li a:hover {
  color: var(--cuaternary-color);
}

main p {
  font-size: 1.2rem;
  text-align: justify;
  padding: 8px 40px 0 40px;
  max-width: 1000px;
  display: flex;
}

#fotoportada {
  background-color: var(--quinary-color);
  background-image: url(/images/portadaservizosdf.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin: 0 auto;
  height: 300px;
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -webkit-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -moz-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
}

.services {
  max-width: 1400px;
  margin: 0 auto;
}

.services h1 {
  text-align: center;
}
.services h2 {
  font-size: 1.1em;
  margin: auto;
  padding: 0px;
}

.services ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  padding: 25px 5px 50px 5px;
  text-align: center;
  background-color: rgb(92, 88, 76);
  width: 80%;
  height: 30%;
  margin: 0 auto;
  box-shadow: 0.35em 0.35em 1em rgb(105, 103, 98);
}

.services ul li {
  margin: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0.25em 0.25em 1em rgb(54, 53, 50);
  display: flex;
  justify-content: center;
  vertical-align: middle;
  flex-flow: row wrap;
  align-content: center;
}

.servizosimgs {
  width: auto;
  height: 120px;
  margin: 0 auto;
  display: flex;
  align-self: flex-end;
  padding-bottom: 6px;
}

.servizosimgilustracion {
  width: auto;
  height: 140px;
  margin: 0 auto;
  display: flex;
  align-self: flex-start;
  padding-bottom: 6px;
}
.creatividade {
  border-radius: 50%;
  background-color: var(--cuaternary-color);
  height: 220px;
  width: 220px;
}

.grafico {
  height: 220px;
  width: 220px;
  background-color: rgb(214, 149, 214);
  -moz-border-radius: 50% 0 50% 0;
  -webkit-border-radius: 50% 0 50% 0;
  border-radius: 50% 0 50% 0;
}

.ilustracion {
  background-color: rgb(51, 172, 172);
  height: 220px;
  width: 220px;
}

#targets {
  margin: 0 auto;
  width: 80%;
}

.destinatarios {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.destinatarios div {
  display: inline-flex;
  background-color: var(--quinary-color);
  width: 192px;
  height: 182px;
  padding: 20px 20px 30px 20px;
  text-align: left;
  color: rgb(54, 53, 50);
  font-weight: 100;
  margin-top: -20px;
  gap: 5px;
  /*border: 3px solid rgb(92, 88, 76);*/
  border-radius: 0% 20% 20% 10%;
  -moz-border-radius: 0% 20% 20% 10%;
  -webkit-border-radius: 0% 20% 20% 10%;
  box-shadow: 0.35em 0.35em 1em rgb(105, 103, 98);
}

#animacion-clientes-lista-container {
  animation: myAnim 60s linear 0s infinite normal forwards;
  width: 100%;
  height: 100px;
  overflow: hidden;
  background-image: url(/images/clientela-web.svg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  margin: 0 auto;
}

@keyframes myAnim {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.cl-container {
  margin: 0 auto;
  padding: 60px 40px 30px 40px;
  font-size: 1.12em;
  font-weight: 500;
  color: var(--senary-color);
}

/* main galerias */
.slider-container {
  background-color: var(--cuaternary-color);
  border: solid 2px red;
  margin-top: 100px;
  display: flex;
}
