#portadatipo {
  background-image: url(/images/tipografia/tipografia.webp);
  background-repeat: no-repeat;
  height: 150px;
  margin: 0;
  background-size: cover;
  background-position: top;
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -webkit-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  -moz-box-shadow: inset -31px -32px 73px -51px var(--senary-color);
  box-shadow: inset -31px -32px 73px -51px var(--senary-color);
}
