
.icon-arteinformado:before { content: '\e800'; } /* '' */
.icon-ccgalega:before { content: '\e801'; } /* '' */
.icon-linotype:before { content: '\e802'; } /* '' */
.icon-myfonts:before { content: '\e803'; } /* '' */
.icon-attach:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
