@font-face {
  font-family: Partitura1941;
  src: url(/fonts/tipografia/Partitura41.otf);
}

@font-face {
  font-family: kallaikosrevve;
  src: url(/fonts/tipografia/Kallaikosrevve.ttf);
}

@font-face {
  font-family: IdoiaBD;
  src: url(/fonts/tipografia/IdoiaBD.ttf);
}

.tipografia {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0 40px;
}

.abcfonte.partitura {
  font-family: Partitura1941;
  font-size: 3.6rem;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  word-break: break-word;
}

.abcfonte.kallaikos {
  font-family: kallaikosrevve;
  font-size: 3rem;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  word-break: break-word;
}

#mockambastipos {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0 auto;
}

.mockupsfontes {
  width: 50%;
  display: inline-flex;
  flex-flow: row wrap;
  margin: 0 auto;
  padding: 0;
}

.tipografia h2 {
  font-size: 2.7rem;
  width: 100%;
  padding: 40px 0;
  word-break: break-word;
}
.tipografia.partitura h2,
.tipografia.partitura textarea {
  font-family: Partitura1941;
}
.tipografia.kallaikos h2,
.tipografia.kallaikos textarea {
  font-family: kallaikosrevve;
}

#vistatipo-kallaikos,
#vistatipo {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 250px;
  padding: 40px;
  font-size: 2rem;
  color: black;
  border: none;
  margin-top: 20px;
  text-align: left;
  box-sizing: border-box;
}

select {
  border: 1px solid var(--septenary-color);
  font-size: 1.3rem;
  padding: 4px;
  margin-left: 10px;
}

label {
  font-size: 1.4rem;
  font-weight: 300;
  cursor: default;
  display: inline-flex;
}

input.buttonrangesize {
  background: var(--secondary-color);
  width: 100px;
  height: 20px;
  margin: 10px 10px 0;
  vertical-align: bottom;
  box-shadow: 0.35em 0.35em 1em rgb(156, 153, 146);
}

.wrapper {
  width: 20vmin;
}

input {
  width: 100%;
  --litters-range: 75%;
  appearance: none;
  outline: none;
  height: 1vmin;
  border-radius: 0.5vmin;
  background: linear-gradient(
    to right,
    white var(--litters-range),
    rgba(87, 87, 87, 0.96) var(--litters-range)
  );
}

input::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  width: 2vmin;
  height: 2vmin;
  background: var(--terciary-color);
  border-radius: 50%;
}

.input[type="range" i] {
  appearance: auto;
  cursor: default;
  color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
  padding: initial;
  border: initial;
  margin: 2px;
}

.botonestipo {
  display: inline-block;
  border: none;
  background: var(--quinary-color);
  box-shadow: 0.25em 0.25em 0.6em rgb(156, 153, 146);
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  width: auto;
  padding: 10px;
  margin: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.botonestipo:hover {
  background: var(--cuaternary-color);
}

.botonestipo:active {
  transform: translateY(4px);
  background: var(--septenary-color);
}

.botonesquero {
  display: inline-block;
  border: none;
  background: var(--cuaternary-color);
  box-shadow: 0.25em 0.25em 0.6em rgb(156, 153, 146);
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  width: auto;
  padding: 10px;
  margin: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.botonesquero:hover {
  background: var(--cuaternary-color);
}

.botonesquero:active {
  transform: translateY(4px);
  background: var(--septenary-color);
}

.size {
  width: 100%;
  margin-bottom: 20px;
  display: inline-block;
}

#especimen {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

.definicionstipos {
  display: flex;
  margin: 0 auto;
  padding: 0;
  font-size: 1.3rem;
  line-height: 1.25;
}

.presentacionfont {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 40px;
}

.imaxefonte1txt {
  flex: 2 0 25%;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  padding: 0;
  box-shadow: 0.25em 0.25em 0.6em rgb(156, 153, 146);
}

.cascada {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.coltexto ul {
  display: flex;
  flex-direction: row;
  background: none;
  box-shadow: none;
  height: auto;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.coltexto ul li {
  background: none;
  box-shadow: none;
  padding: 10px;
  margin: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: left;
}

.coltexto p {
  color: var(--secondary-color);
  font-size: 1.3rem;
}
