footer {
  background-color: var(--terciary-color);
  width: 100%;
  margin: 0 auto;
  top: 30px;
  display: block;
  text-align: center;
  background-size: contain;
  position: relative;
  bottom: 0;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 50%);
}
footer ul {
  padding-left: 20px;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer ul li a {
  font-family: "Quattrocento Sans";
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: var(--secondary-color);
}
footer ul li a:hover {
  color: var(--cuaternary-color);
}

*,
::after,
::before {
  box-sizing: border-box;
}

.footer-como ul {
  font-family: "PT sans";
  font-size: 0.9em;
  font-weight: 800;
  list-style: none;
  color: var(--secondary-color);
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  padding-bottom: 0%;
  text-decoration: none;
}
.footer-como li {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px 20px 0px 20px;
  align-items: center;
  color: var(--secondary-color);
}

.footer-como li a {
  display: inline-flex;
  color: var(--secondary-color);
}

.footer-menu li {
  display: inline-flex;
  padding: 0px 20px 0px 20px;
  align-items: center;
}
.footer-menu li a {
  font-family: "Quattrocento sans";
  font-size: 0.85em;
  color: var(--secondary-color);
  font-weight: 400;
  text-transform: initial;
  text-decoration: none;
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-menu li {
  display: inline-flex;
  padding: 0px 20px 0px 20px;
  align-items: center;
}

#etica,
#metodos {
  scroll-margin-top: 150px;
}

/* seccion bios */

#bios {
  width: 100%;
  background-color: var(--cuaternary-color);
  margin: 0 auto;
  padding: 0px;
  height: auto;
  min-height: 100px;
  margin-top: 80px;
}

#bios a:hover {
  color: var(--senary-color);
}

.containercenter {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#biocontido {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

#biomarcofoto {
  display: inline-flex;
  flex-direction: row;
  width: 120px;
  height: 120px;
  text-align: center;
  margin-top: -110px;
  position: absolute;
}

.biofoto {
  display: inline-flex;
  flex-flow: row;
  width: inherit;
  box-shadow: 0.25em 0.25em 1em rgb(54, 53, 50);
  background-color: var(--terciary-color);
  border-radius: 50%;
  margin: 0 auto;
}

#biocvs {
  display: block;
  box-sizing: border-box;
  height: auto;
  text-align: right;
}

#biosleft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#biosright {
  display: flex;
  align-items: center;
}

#bionome {
  text-align: left;
  align-items: center;
  margin-left: 130px;
}

.cvs p,
.cvs a {
  font-family: Quattrocento Sans;
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0px 10px 0px 0px;
}

.nome {
  font-family: Quattrocento Sans;
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  font-weight: 700;
  font-size: 1.2em;
  color: var(--secondary-color);
  text-decoration: none;
  margin: 20px 0 0 0;
  text-align: left;
}
.hashtag a {
  font-family: Quattrocento Sans;
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 1.2em;
  color: var(--secondary-color);
  text-decoration: none;
}
blockquote.lema {
  font-family: Quattrocento sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  font-style: italic;
  color: var(--secondary-color);
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 0 40px 0 6px;
  margin: 0;
  vertical-align: middle;
}

/*cargar fontello*/
.socialmedia {
  font-family: Fontello;
  font-size: 1em;
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  text-align: left;
  justify-content: flex-end;
  vertical-align: middle;
}

.socialmedia li {
  align-self: center;
}

.icon-ainf,
.icon-myf,
.icon-instagram,
.icon-email,
.icon-linkedin {
  font-size: 1.3em;
}

.icon-attach {
  font-size: 0.6em;
}

.footer-banner {
  max-width: 90%;
  height: auto;
}
