
.icon-mail:before { content: '\e800'; } /* '' */
.icon-myf:before { content: '\e801'; } /* '' */
.icon-ainf:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
